:root {
  font-family: 'Afacad', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 120px;
    padding-left: 120px;
  }
}

.section {
  scroll-margin-top: 40px;

  @include media(desktop) {
    scroll-margin-top: 50px;
  }
}

.section-title-wrapper {
  background: #1a1c28;
  padding-top: 80px;
  padding-bottom: 32px;

  @include media(desktop) {
  }
}

.section-title {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #feb300;

  @include media(desktop) {
  }
}

.section-subtitle {
  text-shadow:
    -2px 0 #1a1c28,
    2px 0 #1a1c28,
    0 -2px #1a1c28,
    0 2px #1a1c28,
    -2px -2px #1a1c28,
    2px -2px #1a1c28,
    -2px 2px #1a1c28,
    2px 2px #1a1c28;
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;
  margin-bottom: 48px;

  @include media(desktop) {
  }
}
