.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-container {
  padding: 0;

  @include media(desktop) {
  }
}

.features-content-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0 120px;
  }
}

.features-subtitle {
  @include media(desktop) {
    max-width: 628px;
    margin-left: auto;
    margin-right: auto;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.features-slide {
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    padding: 0;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 154px;
  }
}

.features-icon {
  min-width: 48px;

  @include media(desktop) {
  }
}

.features-item-text-wrapper {
  width: 100%;

  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Afacad', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #1a1c28;
  margin-bottom: 16px;

  @include media(desktop) {
    text-align: center;
  }
}

.features-item-text {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #1a1c28;

  @include media(desktop) {
    text-align: center;
  }
}

.features-img {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
