.footer {
  background: #1a1c28;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding: 80px 0;

  @include media(desktop) {
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-btn {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 2;
  }
}

.footer-nav {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 3;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 124px;

  @include media(desktop) {
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;

  @include media(desktop) {
    order: 1;
  }
}
