.gameplay-section {
}

.gameplay-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-swiper-container {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gameplay-swiper-container.show {
  visibility: visible;
}

.gameplay-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}

.gameplay-slide {
  box-shadow: 0 4px 0 0 #1a1c28;
  background: #516073;
  border-radius: 16px;
  padding: 16px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 283px;

  &:not(:first-child) {
    .gameplay-item-text {
      max-width: 130px;

      @include media(desktop) {
      }
    }
  }

  @include media(desktop) {
    max-width: 210px;
  }
}

.gameplay-img {
  @include media(desktop) {
  }
}

.gameplay-item-title {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;

  @include media(desktop) {
  }
}

.gameplay-item-text {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #fafafa;

  @include media(desktop) {
  }
}
