.hero-section {
  background: #1e2449;

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 88px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 230px;
    padding-bottom: 202px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Cantora One', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #e7f3f5;
  margin-bottom: 322px;

  @include media(desktop) {
    font-size: 64px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 48px;
  }
}

.hero-subtitle {
  font-family: 'Manjari', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #e7f3f5;
  max-width: 257px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 32px;
    text-align: left;
    max-width: max-content;
    margin: 0;
    margin-bottom: 48px;
  }
}

.hero-btn {
  box-shadow: 0 2px 2px 0 rgba(203, 223, 229, 0.5);
  background: #e7f3f5;
  border: 1px solid #cbdfe5;
  border-radius: 16px;
  padding: 13px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #cbdfe5;
  }

  @include media(desktop) {
    margin: 0;
  }
}
