.policy-section {
  background: #fafafa;
  padding-top: 104px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 48px;
  }
}

.policy-main-title {
  @include media(desktop) {
  }
}

.policy-section h1 {
  text-shadow:
    -2px 0 #1a1c28,
    2px 0 #1a1c28,
    0 -2px #1a1c28,
    0 2px #1a1c28,
    -2px -2px #1a1c28,
    2px -2px #1a1c28,
    -2px 2px #1a1c28,
    2px 2px #1a1c28;
  font-family: 'Racing Sans One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: #fafafa;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 48px;
  }
}

.policy-section h2 {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #516073;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section h3 {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #516073;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section p {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #1a1c28;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-section li {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #1a1c28;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Manjari', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2a2c36;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-section a {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  @include media(desktop) {
  }
}

.policy-section span {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  @include media(desktop) {
  }
}
