.testimonials-section {
  @include media(desktop) {
  }
}

.testimonials-bg-wrapper {
  padding-top: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.testimonials-container {
  padding: 0;

  @include media(desktop) {
  }
}

.testimonials-content-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0 120px;
  }
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.testimonials-slide {
  background: #f6eeeb;
  border: 2px solid #516073;
  border-radius: 12px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    max-width: 210px;
  }
}

.testimonials-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.testimonials-item-name {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #1a1c28;

  @include media(desktop) {
  }
}

.testimonials-img {
  @include media(desktop) {
  }
}

.testimonials-item-text {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1a1c28;

  @include media(desktop) {
  }
}

.testimonials-bg-img {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
