<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="section-subtitle about-subtitle">Logic with a visual twist</p>
        <p class="about-text">
          We took classic logic puzzles and gave them a colorful twist that
          changes everything.<br />
          Players rely on observation and deduction to safely clear tiles and
          avoid mistakes.<br class="about-br" />
          You'll need sharp eyes and a good memory for patterns as things get
          trickier.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/about/about-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="564" />
        <source
          srcset="./img/about/about-bg-mob.jpg"
          width="375"
          height="343" />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="343"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
