<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="section-subtitle about-subtitle">
          Same old match-3 you know and love,<br />
          just with way more cute factor
        </p>
        <p class="about-text">
          Look, if you've played Candy Crush, you'll get this immediately. The
          difference?<br class="about-br" />
          Instead of candy, you're matching stuff while cartoon pets bounce
          around being adorable.<br />
          Players move through levels by completing objectives while enjoying
          lively animations and rewarding feedback.<br class="about-br" />
          Super easy to learn, and honestly? I found myself playing way longer
          than I planned to.
        </p>
      </div>
      <picture>
        <source
          srcset="./img/about/about-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="810" />
        <source
          srcset="./img/about/about-bg-mob.jpg"
          width="375"
          height="380" />
        <img
          class="about-img"
          src="./img/about/about-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="380"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
