<section class="features-section section" id="features">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title features-title">Features</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="section-subtitle features-subtitle">
          The gameplay's pretty straightforward - no unnecessary bells and
          whistles
        </p>
        <ul class="features-list">
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Color-Based Logic</p>
              <p class="features-item-text">
                Instead of dealing with numbers like in other logic games,
                you're working with colors.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Gradual Difficulty</p>
              <p class="features-item-text">
                Puzzles become more complex over time.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Minimalist Design</p>
              <p class="features-item-text">
                No clutter, no ads popping up - just you and the puzzle.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Replay Value</p>
              <p class="features-item-text">
                Multiple boards to solve and master.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features5"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Smooth Interaction</p>
              <p class="features-item-text">
                Controls actually do what you expect them to (which is rarer
                than it should be these days).
              </p>
            </div>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/features/features-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="600" />
        <source
          srcset="./img/features/features-bg-mob.jpg"
          width="375"
          height="332" />
        <img
          class="features-img"
          src="./img/features/features-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="332"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
