<section class="gallery-section section" id="gallery">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gallery-title">Gallery</h2>
    </div>
  </div>
  <div class="gallery-bg-wrapper">
    <div class="container gallery-container">
      <p class="section-subtitle">Playful puzzle moments</p>
      <div class="gallery-swiper-container">
        <ul class="swiper-wrapper gallery-swiper-wrapper">
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-item-img"
              src="./img/gallery/gallery-img1-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-item-img"
              src="./img/gallery/gallery-img2-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-item-img"
              src="./img/gallery/gallery-img3-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-item-img"
              src="./img/gallery/gallery-img4-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-item-img"
              src="./img/gallery/gallery-img5-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-item-img"
              src="./img/gallery/gallery-img6-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-item-img"
              src="./img/gallery/gallery-img7-mob.png"
              alt="Screenshot of the game"
              width="283"
              height="503"
              loading="lazy"
            />
          </li>
        </ul>
        <div class="controls gallery-controls">
          <button
            class="arrow-btn"
            id="galleryLeftArrow"
            aria-label="Previous slide"
          >
            <svg class="arrow-icon" width="56" height="55">
              <use href="./img/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button
            class="arrow-btn"
            id="galleryRightArrow"
            aria-label="Next slide"
          >
            <svg class="arrow-icon" width="56" height="55">
              <use href="./img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
