<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <p class="section-subtitle">Match, combine, progress</p>
        <div class="gameplay-swiper-container">
          <ul class="swiper-wrapper gameplay-swiper-wrapper">
            <li class="swiper-slide gameplay-slide">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img1-desk.png"
                  media="(min-width: 1440px)"
                  width="178"
                  height="205" />
                <source
                  srcset="./img/gameplay/gameplay-img1-mob.png"
                  width="222"
                  height="255" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img1-mob.png"
                  alt="Screenshot of the game"
                  width="222"
                  height="255"
                  loading="lazy"
              /></picture>
              <p class="gameplay-item-title">Match Tiles</p>
              <p class="gameplay-item-text">
                Swap pieces to align three or more identical tiles.
              </p>
            </li>
            <li class="swiper-slide gameplay-slide">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img2-desk.png"
                  media="(min-width: 1440px)"
                  width="178"
                  height="205" />
                <source
                  srcset="./img/gameplay/gameplay-img2-mob.png"
                  width="222"
                  height="255" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img2-mob.png"
                  alt="Screenshot of the game"
                  width="222"
                  height="255"
                  loading="lazy"
              /></picture>
              <p class="gameplay-item-title">Create Combos</p>
              <p class="gameplay-item-text">
                Form larger matches to trigger powerful effects.
              </p>
            </li>
            <li class="swiper-slide gameplay-slide">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img3-desk.png"
                  media="(min-width: 1440px)"
                  width="178"
                  height="205" />
                <source
                  srcset="./img/gameplay/gameplay-img3-mob.png"
                  width="222"
                  height="255" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img3-mob.png"
                  alt="Screenshot of the game"
                  width="222"
                  height="255"
                  loading="lazy"
              /></picture>
              <p class="gameplay-item-title">Complete Objectives</p>
              <p class="gameplay-item-text">
                Focus on level goals to move forward.
              </p>
            </li>
            <li class="swiper-slide gameplay-slide">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img4-desk.png"
                  media="(min-width: 1440px)"
                  width="178"
                  height="205" />
                <source
                  srcset="./img/gameplay/gameplay-img4-mob.png"
                  width="222"
                  height="255" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img4-mob.png"
                  alt="Screenshot of the game"
                  width="222"
                  height="255"
                  loading="lazy"
              /></picture>
              <p class="gameplay-item-title">Use Boosters</p>
              <p class="gameplay-item-text">
                Activate special tools for tricky situations.
              </p>
            </li>
            <li class="swiper-slide gameplay-slide">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img5-desk.png"
                  media="(min-width: 1440px)"
                  width="178"
                  height="205" />
                <source
                  srcset="./img/gameplay/gameplay-img5-mob.png"
                  width="222"
                  height="255" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img5-mob.png"
                  alt="Screenshot of the game"
                  width="222"
                  height="255"
                  loading="lazy"
              /></picture>
              <p class="gameplay-item-title">Unlock New Levels</p>
              <p class="gameplay-item-text">
                Advance through increasingly varied challenges.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
