<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Uncover the Pattern.<br />
            Clear the Grid.
          </h1>
          <p class="hero-subtitle">Every move is a decision.</p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.redhedgies.colorsweeper&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="180" height="43">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
