<section class="policy-section">
  <div class="container policy-container">
    <h1>Privacy Policy</h1>

    <p>
      At <span class="name">ColorSweeper</span>, we develop and publish games
      and are committed to protecting and respecting your privacy.
    </p>

    <p>
      We understand the importance of protecting your privacy and are committed
      to safeguarding the privacy of all our users.
    </p>

    <p>
      We do not collect any personal information from our users. We also do not
      collect any information about the content you access or use through our
      games.
    </p>

    <section>
      <h2>Contact Us</h2>
      <p>
        If you have any questions or concerns about this Privacy Policy, please
        contact us at
        <a href="mailto:info@widecluster.space"
          ><span class="domain">info@widecluster.space</span></a
        >.
      </p>
    </section>
  </div>
</section>
