<section class="progression-section section" id="progression">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title progression-title">Why Download</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <p class="section-subtitle">
          You'll start playing<br />
          'just one more level' and suddenly it's 2 AM
        </p>
        <ul class="progression-list">
          <li class="progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img1-desk.png"
                media="(min-width: 1440px)"
                width="200"
                height="200" />
              <source
                srcset="./img/progression/progression-img1-mob.png"
                width="142"
                height="142" />
              <img
                class="progression-img"
                src="./img/progression/progression-img1-mob.png"
                alt="Screenshot of the game"
                width="142"
                height="142"
                loading="lazy"
            /></picture>
            <p class="progression-item-title">Relaxing Experience</p>
            <p class="progression-item-text">
              No pressure, just enjoyable puzzles.
            </p>
          </li>
          <li class="progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img2-desk.png"
                media="(min-width: 1440px)"
                width="200"
                height="200" />
              <source
                srcset="./img/progression/progression-img2-mob.png"
                width="142"
                height="142" />
              <img
                class="progression-img"
                src="./img/progression/progression-img2-mob.png"
                alt="Screenshot of the game"
                width="142"
                height="142"
                loading="lazy"
            /></picture>
            <p class="progression-item-title">Satisfying Matches</p>
            <p class="progression-item-text">Every move feels rewarding.</p>
          </li>
          <li class="progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img3-desk.png"
                media="(min-width: 1440px)"
                width="200"
                height="200" />
              <source
                srcset="./img/progression/progression-img3-mob.png"
                width="142"
                height="142" />
              <img
                class="progression-img"
                src="./img/progression/progression-img3-mob.png"
                alt="Screenshot of the game"
                width="142"
                height="142"
                loading="lazy"
            /></picture>
            <p class="progression-item-title">Flexible Playtime</p>
            <p class="progression-item-text">
              Perfect for short or long sessions.
            </p>
          </li>
          <li class="progression-slide">
            <picture>
              <source
                srcset="./img/progression/progression-img4-desk.png"
                media="(min-width: 1440px)"
                width="200"
                height="200" />
              <source
                srcset="./img/progression/progression-img4-mob.png"
                width="142"
                height="142" />
              <img
                class="progression-img"
                src="./img/progression/progression-img4-mob.png"
                alt="Screenshot of the game"
                width="142"
                height="142"
                loading="lazy"
            /></picture>
            <p class="progression-item-title">Quick Start</p>
            <p class="progression-item-text">Jump into gameplay instantly.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
