<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title testimonials-title">Player Reviews</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <p class="section-subtitle">What players say</p>
      <ul class="testimonials-list">
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Oliver T.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “OMG! Little animals are SO cute! Can't stop playing, lol”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Anna S.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="64"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Relaxing gameplay with nice bright visuals. Love the characters.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Edward P.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Great for quick breaks anytime anywhere. Helps me unwind.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Leo K.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="64"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Simple and enjoyable. All my family loves this game.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Patricia W.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Love the animations and combos. So bright and joyful!”
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
