<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title testimonials-title">Player Reviews</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <div class="testimonials-content-wrapper">
        <p class="section-subtitle">Check out what players say</p>
        <ul class="testimonials-list">
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Helga B.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Really well-designed puzzles that feel satisfying to solve.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Peter D.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Simple idea but really engaging. Helps me unwind.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Alicia S.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Love the color-based mechanics. And also adore the characters.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Edward P.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Simple and enjoyable. Great for relaxing and thinking.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Olivia K.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Challenging enough to keep you thinking, but never frustratingly
              unclear.”
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/testimonials/testimonials-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="766" />
        <source
          srcset="./img/testimonials/testimonials-bg-mob.jpg"
          width="375"
          height="302" />
        <img
          class="testimonials-bg-img"
          src="./img/testimonials/testimonials-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="302"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
